
    <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-user" style="font-size: 48px" ></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
	                                    <strong id="User" class="stat">
	                                	<%= User.count %>
                           		 		</strong>
                            	</div>
                                    <div>Users</div>
                                </div>
                            </div>
                        </div>
                        
                           
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-list-alt" style="font-size: 48px" ></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                    	<strong id="Deal" class="stat">
	                                	<%= Deal.count %>
                           		 		</strong>
                                    </div>
                                    <div>Deals</div>
                                </div>
                            </div>
                        </div>
                        
                           
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-comment" style="font-size: 48px" ></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                    	<strong id="Comment" class="stat">
	                                	<%= Comment.count %>
                           		 		</strong>
                                    </div>
                                    <div>Comments</div>
                                </div>
                            </div>
                        </div>
                         
                            
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-th-list" style="font-size: 48px" ></span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                    	<strong id="Category" class="stat">
	                                	<%= Category.count %>
                           		 		</strong>
                                    </div>
                                    <div>Catogeries</div>
                                </div>
                            </div>
                        </div>
                        
                            
                      
                    </div>
                </div>
            </div>