 <% provide(:title, 'ALl Deals') %>
      <%= render 'admin/admin_nav'%>
    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">All Deals</h1>
                        
                        <ul class="users">
                            <%= will_paginate @deals%>
                            	<% @deals.each do |deal| %>
								<%= render deal %>
								<% end %>
                            <%= will_paginate @deals%>
                        </ul>
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->