 <% provide(:title, 'Administrator') %>
      <%= render 'admin/admin_nav'%>
 
    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                        <li>
                            123 deals
                        </li>
                        
                        <li>
                            123 users
                        </li>

                        <li>
                            Top ten popular deals
                        </li>

                        <li>
                            Top ten best sellers
                        </li>
                        <ul class="users">
                            
                        </ul>
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->