 
      <%= render 'layouts/admin_nav'%>
 
    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">All Users</h1>
                        <ul class="users">
                            <% @users.each do |user| %>
                            <li>
                            <%= gravatar_for user, size: 50 %>
                            <%= link_to user.name, user %>
                            </li>
                            <% end %>
                            </ul>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->