<% provide(:title, "Deals") %>
<%= render 'layouts/leftcol' %>
<div class="col-md-9">

    <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right">$<%= "#{@detail.price}"%></h4>
            <h4><a href="#"><%= "#{@detail.name}"%></a>
            </h4>
            <p>
            <%= "#{@detail.intro}"%>
            </p>
        </div>
        <div class="ratings">
            <p>1 reviews</p>
        </div>
    </div>

    <div class="well">

        <div class="text-right">
            <a class="btn btn-success">Leave a Review</a>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">10 days ago</span>
                <p>To be done!!!!</p>
            </div>
        </div>

        <hr>

    </div>
</div>