<div class="col-md-12">
<h2 style="text-align: center;">TOP LIKES</h2>
<% if @deal.count == 0%>
		<h1 style="text-align: center;color: red;">NO USER EVER LIKED ONE DEAL!SAD!</h1>
	<% end %>
	<%= will_paginate @deal %>
		<%= render 'layouts/display' %>
	<%= will_paginate @deal %>
</div>