 			<div class="col-md-3">
                <p class="lead">Category</p>
                <div class="list-group">
                    <% @category.each do |c| %>
                    <%= link_to "#{c.name}", c, class: "list-group-item" %>
                        
                    <% end %>
                </div>
            </div>